{% extends 'base.html' %}

{% block page_css %}
<style>
.feature-tile{
    border: 2px solid green;
}
.feature-row{
    padding: 5px;
}
</style>
{% endblock %}

{% block content %}
<div class="feature-row row">
    <div class="feature-tile col-md-9 col-sm-12 col-xs-12">thisi is 9</div>
    <div class="feature-tile col-md-3 col-sm-6 col-xs-6">thisi is 6</div>
    <div class="feature-tile col-md-3 col-sm-6 col-xs-6">thisi is 6</div>
    <div class="feature-tile col-md-3 col-sm-6 col-xs-6">thisi is 6</div>
    <div class="feature-tile col-md-3 col-sm-6 col-xs-6">thisi is 6</div>
    <div class="feature-tile col-md-3 col-sm-6 col-xs-6">thisi is 6</div>
    <div class="feature-tile col-md-3 col-sm-6 col-xs-6">thisi is 6</div>
    <div class="feature-tile col-md-9 col-sm-12 col-xs-12">thisi is 9</div>
</div>
{% endblock %}